@import url('https://fonts.googleapis.com/css2? family= Actor & family= Caesar+Dressing & family= Inter:wght@200;300;400 & family= Lato:ital,wght@ 0,300;0,400;1,300 & family= Lily+Script+One & family= Monomaniac+One & family= Montserrat:ital,wght@0,300;0,400;1,400 & family= Roboto:ital,wght@0,300;1,300 & display=swap' );

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    color: #FFFFFF;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
}

header img:hover {
    opacity: .8;
    cursor: pointer;
}

header figure img {
    width: 35px;
    height: 35px;
}

header h1 {
    font-family: 'Roboto Serif'; 
}

header nav  {
display: flex;
justify-content: space-around;
width: 12vw;
padding: 10px;
}

main {
    border: solid green;
}

.primeiraSessaoMain {
    border: solid red;
}


.sessaoUm img {
    border: solid black;
    width: 100vw;
    height: 100vh;
}

.boasVindas {
    border: solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    background-color: #EB4A7B;
    font-size: 50px;
    position: relative;
    top: 70px;
}

.pataMain {
    border:solid blue;
}

